/* CSS for SignUp component */
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .signup-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-container button:hover {
    background-color: #0056b3;
  }
  .msg{
    color:red;
  }